@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2e8f0;
  margin: 0;
}

@font-face {
  font-family: 'Jost';
  src: url('./styles/fonts/Jost-VariableFont_wght.ttf'), url('./styles/fonts/Jost-Italic-VariableFont_wght.ttf');
}

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply mb-4 text-2xl font-bold;
  }
  h2 {
    @apply mb-4 text-xl font-bold;
  }
  h3 {
    @apply mb-4 text-lg font-bold;
  }
  h4 {
    @apply mb-4 text-base font-medium;
  }
}