@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --color-primary: #3d5a80;
  --color-secondary: #98c1d9;
  --color-accent1: #e0fbfc;
  --color-accent2: #ee6c4d;
  --color-accent3: #293241;
  --color-accent3-dark: #202834;

  --animate-progress: progress 1s infinite linear;

  --transform-origin-left-right: 0% 50%;

  @keyframes progress {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer utilities {
  body {
    background-color: #e2e8f0;
    margin: 0;
  }

  @font-face {
    font-family: 'Jost';
    src:
      url('./styles/fonts/Jost-VariableFont_wght.ttf'),
      url('./styles/fonts/Jost-Italic-VariableFont_wght.ttf');
  }
}

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Jost', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
    @apply mb-4 text-2xl font-bold;
  }
  h2 {
    @apply mb-4 text-xl font-bold;
  }
  h3 {
    @apply mb-4 text-lg font-bold;
  }
  h4 {
    @apply mb-4 text-base font-medium;
  }
}